#Indexbody {
    background-color: black;
    color: red;
}
div {
    border-style: solid;
    border-width: 3px;
    border-color: white;
    padding: 30px;
}
.container {
    border-style: solid;
    border-color: white;
    padding: 30px;
}
.row {
    border-style: solid;
    border-color: white;
    padding: 30px;
}