#Indexbody {
    background-size: cover;
    color: white;
}
#Projectbody {
    background-size: cover;
    color: white;
}
#Techbody {
    background-size: cover;
    color: white;
}
#p1{
    text-align: left;
    font-size: 50px;
}
#p2 {
    text-align: left;
    font-size: 25px;
}
#p3 {
    text-align: left;
    font-size: 50px;
}
#p4 {
    text-align: left;
    font-size: 25px;
}
img1 {
    width: 20px;
    height: auto;
}
img2 {
    width: 20px;
    height: auto;
}
img3 {
    width: 20px;
    height: auto;
}
img4 {
    width: 20px;
    height: auto;
}
div {
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    padding: 30px;
}
container {
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    padding: 30px;
}
row {
    font-size: 20px;
    border-style: solid;
    border-width: 5px;
    border-color: transparent;
    padding: 30px;
}